body{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 100px 10fr 30px;
}

#topside{
    grid-column: 1/4;
    grid-row: 1;
}

#leftaside{
    grid-column: 1/2;
    grid-row: 2;
}

#container{
    grid-column: 2/3;
    grid-row: 2;
}

#leftaside{
    grid-column: 3/4;
    grid-row: 2;
}

footer{
    grid-column: 1/4;
    grid-row: 3;
}