body{
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100px 10fr 30px;
}

#topside{
    grid-column: 1/4;
    grid-row: 1;
}

#leftaside{
    grid-column: 1/2;
    grid-row: 2;
}

#container{
    grid-column: 2/3;
    grid-row: 2;
}

dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

#leftaside{
    grid-column: 3/4;
    grid-row: 2;
}

footer{
    grid-column: 1/4;
    grid-row: 3;
}